<a href="https://colab.research.google.com/github/eduardoluisvieira/Mineracao-de-Dados/blob/main/EDA_DeathMountains.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Análise Exploratória  - Mortes nas 14 maiores montanhas do mundo**

---

In [1]:
# Importação das bibliotecas
import pandas as pd
import numpy as np
import statistics as sts
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
# Leitura dos datasets
annapurna = pd.read_csv('https://raw.githubusercontent.com/eduardoluisvieira/Datasets/main/Mountains/annapurna-I.csv',sep=',')

In [4]:
broad_peak = pd.read_csv('https://raw.githubusercontent.com/eduardoluisvieira/Datasets/main/Mountains/broad-peak.csv',sep=',')

In [6]:
cho_oyu = pd.read_csv('https://raw.githubusercontent.com/eduardoluisvieira/Datasets/main/Mountains/cho-oyu.csv',sep=',')

In [7]:
dhaulagiri = pd.read_csv('https://raw.githubusercontent.com/eduardoluisvieira/Datasets/main/Mountains/dhaulagiri-I.csv',sep=',')

In [8]:
everest = pd.read_csv('https://raw.githubusercontent.com/eduardoluisvieira/Datasets/main/Mountains/everest.csv',sep=',')

In [11]:
gasherbrum = pd.read_csv('https://raw.githubusercontent.com/eduardoluisvieira/Datasets/main/Mountains/gasherbrum-I.csv',sep=',')

In [12]:
gasherbrum_II = pd.read_csv('https://raw.githubusercontent.com/eduardoluisvieira/Datasets/main/Mountains/gasherbrum-II.csv',sep=',')

In [13]:
k2 = pd.read_csv('https://raw.githubusercontent.com/eduardoluisvieira/Datasets/main/Mountains/k2.csv',sep=',')

In [14]:
kangchenjunga = pd.read_csv('https://raw.githubusercontent.com/eduardoluisvieira/Datasets/main/Mountains/kangchenjunga.csv',sep=',')

In [15]:
lhotse = pd.read_csv('https://raw.githubusercontent.com/eduardoluisvieira/Datasets/main/Mountains/lhotse.csv',sep=',')

In [16]:
makalu = pd.read_csv('https://raw.githubusercontent.com/eduardoluisvieira/Datasets/main/Mountains/makalu.csv',sep=',')

In [18]:
manaslu = pd.read_csv('https://raw.githubusercontent.com/eduardoluisvieira/Datasets/main/Mountains/manaslu.csv',sep=',')

In [20]:
nanga_parbat = pd.read_csv('https://raw.githubusercontent.com/eduardoluisvieira/Datasets/main/Mountains/nanga-parbat.csv',sep=',')

In [21]:
shishapangma = pd.read_csv('https://raw.githubusercontent.com/eduardoluisvieira/Datasets/main/Mountains/shishapangma.csv',sep=',')

In [22]:
annapurna.head()

             Date                Name Nationality         Cause of death
0      3 May 2019        Wui Kin Chin    Malaysia  Hypothermia/Frostbite
1   24 March 2015     Samuli Mansikka     Finland                   Fall
2   24 March 2015        Pemba Sherpa       Nepal                   Fall
3  7 October 2012        Ivan Lobanov  Uzbekistan              Avalanche
4  7 October 2012  Iljas Tukhvatullin  Uzbekistan              Avalanche

In [24]:
annapurna.describe()

                     Date          Name Nationality Cause of death
count                  73            73          73             73
unique                 43            73          20             11
top     19 September 1991  Wui Kin Chin       Nepal      Avalanche
freq                    6             1          18             40

In [28]:
annapurna.info()
broad_peak.info()
cho_oyu.info()
dhaulagiri.info()
everest.info()
gasherbrum.info()
gasherbrum_II.info()
lhotse.info() 
makalu.info() 
manaslu.info() 
nanga_parbat.info() 
shishapangma.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73 entries, 0 to 72
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            73 non-null     object
 1   Name            73 non-null     object
 2   Nationality     73 non-null     object
 3   Cause of death  73 non-null     object
dtypes: object(4)
memory usage: 2.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            35 non-null     object
 1   Name            35 non-null     object
 2   Nationality     35 non-null     object
 3   Cause of death  35 non-null     object
dtypes: object(4)
memory usage: 1.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            52 non-null     object
 1   Name            52 non-null     object
 2   Nationality     52 non-null     object
 3   Cause of death  52 non-null     object
dtypes: object(4)
memory usage: 1.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82 entries, 0 to 81
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            82 non-null     object
 1   Name            82 non-null     object
 2   Nationality     82 non-null     object
 3   Cause of death  82 non-null     object
dtypes: object(4)
memory usage: 2.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 309 entries, 0 to 308
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            309 non-null    object
 1   Name            309 non-null    object
 2   Nationality     309 non-null    object
 3   Cause of death  309 non-null    object
dtypes: object(4)
memory usage: 9.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            34 non-null     object
 1   Name            34 non-null     object
 2   Nationality     34 non-null     object
 3   Cause of death  34 non-null     object
dtypes: object(4)
memory usage: 1.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            23 non-null     object
 1   Name            23 non-null     object
 2   Nationality     23 non-null     object
 3   Cause of death  23 non-null     object
dtypes: object(4)
memory usage: 864.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            31 non-null     object
 1   Name            31 non-null     object
 2   Nationality     31 non-null     object
 3   Cause of death  31 non-null     object
dtypes: object(4)
memory usage: 1.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            40 non-null     object
 1   Name            40 non-null     object
 2   Nationality     40 non-null     object
 3   Cause of death  40 non-null     object
dtypes: object(4)
memory usage: 1.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86 entries, 0 to 85
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            86 non-null     object
 1   Name            86 non-null     object
 2   Nationality     86 non-null     object
 3   Cause of death  86 non-null     object
dtypes: object(4)
memory usage: 2.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            85 non-null     object
 1   Name            85 non-null     object
 2   Nationality     85 non-null     object
 3   Cause of death  85 non-null     object
dtypes: object(4)
memory usage: 2.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            31 non-null     object
 1   Name            31 non-null     object
 2   Nationality     31 non-null     object
 3   Cause of death  31 non-null     object
dtypes: object(4)
memory usage: 1.1+ KB

In [41]:
annapurna['Mountain'] = 'Annapurna'
broad_peak['Mountain'] = 'Broad Peak'
cho_oyu['Mountain'] = 'Cho Oyu'
dhaulagiri['Mountain'] = 'Dhaulagiri'
everest['Mountain'] = 'Everest'
gasherbrum['Mountain'] = 'Gasherbrum'
gasherbrum_II['Mountain'] = 'Gasherbrum II'
lhotse['Mountain'] = 'Lhotse'
makalu['Mountain'] = 'Makalu'
manaslu['Mountain'] = 'Manaslu'
nanga_parbat['Mountain'] = 'Nanga_parbat'
shishapangma['Mountain'] = 'Shishapangma'

In [42]:
frames = [annapurna,broad_peak,cho_oyu,dhaulagiri,everest,gasherbrum,gasherbrum_II,lhotse,makalu,manaslu,nanga_parbat,shishapangma]

In [43]:
mountains = pd.concat(frames)

In [44]:
mountains

,Date,Name,Nationality,Cause of death,Mountain
0,3 May 2019,Wui Kin Chin,Malaysia,Hypothermia/Frostbite,Annapurna
1,24 March 2015,Samuli Mansikka,Finland,Fall,Annapurna
2,24 March 2015,Pemba Sherpa,Nepal,Fall,Annapurna
3,7 October 2012,Ivan Lobanov,Uzbekistan,Avalanche,Annapurna
4,7 October 2012,Iljas Tukhvatullin,Uzbekistan,Avalanche,Annapurna
...,...,...,...,...,...
26,22 May 1991,Günther Semmler,Germany,Disappearance (probably avalanche),Shishapangma
27,22 May 1991,Karl-Heinz Thiele,Germany,Disappearance (probably avalanche),Shishapangma
28,15 October 1990,Joan Martinez,Spain,Exposure,Shishapangma
29,4 October 1989,Luca Leonardi,Switzerland,Avalanche,Shishapangma
30,28 April 1983,Fritz Luchsinger,Switzerland,Altitude sickness,Shishapangma